body {
    background-color: #00517C;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: solid 2px white;
    height: 100%;
    gap: 4px;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
    padding: 16px;
    font-size: x-large;
    color: white;
}

nav a.current {
    background: #039be5;
}

main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 32px;

}

a {
    text-decoration: none;
}

.link {
    border: solid 2px;
    border-color: #202020;
    border-radius: 8px;
    padding: 24px;
    background: #039BE5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: white;
    text-align: center;
    max-width: 500px;
}
